body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calculator {
    border: 2px solid #000;
    padding: 20px;
    background-color: azure;
    width: 362px;
height: 374.07px;
top: 82px;
left: 139px;
gap: 0px;
opacity: 0px;

  }
  
  .display {
    width: 323.12px;
    height: 58.99px;
    top: 103.45px;
    left: 159.11px;
    gap: 0px;
    border: 1px 0px 0px 0px solid #000;
    opacity: 0px;
 
background-color: #fff;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
  }
  
  button {
    Width:75.08px;
    Height: 58.99px;
    Top: 245.57px;
    Left:325.36px;
    Border:  1px solid #000;
    
  }
#igual{
    width: 157.74px;
  }  